trunk/docs/export-exemplo.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="catalog">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="name" />
        <xs:element name="creation-date" />
        <xs:element name="description" />
        <xs:element name="total-size" />
        <xs:element name="disk-number" />
        <xs:element name="total-folders" />
        <xs:element name="total-files" />
        <xs:element name="label-list">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="label">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="name" />
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="group-list">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="group">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="name" />
                    <xs:element name="description" />
                    <xs:element name="capacity" />
                    <xs:element name="groups" type="xs:string" />
                    <xs:element name="parent-id" />
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="media-list">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="media">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="name" />
                    <xs:element name="capacity" />
                    <xs:element name="last-modified" />
                    <xs:element name="description" />
                    <xs:element name="free-space" />
                    <xs:element name="location" />
                    <xs:element name="files" type="xs:string" />
                    <xs:element name="labels" type="xs:string" />
                    <xs:element name="type" />
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="file-list">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="file">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="name" />
                    <xs:element name="absolute-path" />
                    <xs:element name="last-modified" />
                    <xs:element name="description" />
                    <xs:element name="hidden" type="xs:string" />
                    <xs:element name="size" />
                    <xs:element name="extension" />
                    <xs:element name="image-thumb" />
                    <xs:element name="video-preview" />
                    <xs:element name="audio-clip" />
                    <xs:element name="is-file" />
                    <xs:element name="children" type="xs:string" />
                    <xs:element name="parent-id" />
                    <xs:element name="media-id" />
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="user-list">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="user">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="firstname" />
                    <xs:element name="surname" />
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="loan-list">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="loan">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="loaned-date" />
                    <xs:element name="returned-date" />
                    <xs:element name="user-id" />
                    <xs:element name="media-id" />
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>